 html{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
	font-family: 'Circe' , sans-serif;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
input{
	outline: none;
	border: none;
}
.b-input-text{
	width: 100%;
	height: 45px;
	background: transparent;
	padding: 0 30px 0 11px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	border-bottom: 1px solid #e0e0e0;;	
}
.b-input-text.error{
	border-color: red !important;
}
.b-input-text.valid{
	border-color: #219653 !important;
}
.b-input-text::-webkit-input-placeholder{
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;	
}
.b-input-text:-moz-placeholder{
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;	
}
.b-input-phone{
	background: url(../images/smartphone.svg) no-repeat;
	background-position: right 10px center;
	background-size: 16px;
}
.b-input-name{
	background: url(../images/user.svg) no-repeat;
	background-position: right 10px center;
	background-size: 16px;
}
.b-input-btn{
	width: 220px;
	height: 60px;
	text-align: center;
	padding: 0 20px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	margin: 30px auto 0;
}
.red-btn{
	background: url(../images/left-arrow__white.svg) #ff4350;
	background-position: right 48px center;
	background-repeat: no-repeat;
	background-size: 17px;
	border-radius: 20px;
	box-shadow: 0 10px 15px rgba(255, 67, 80, 0.4);
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;	
}
.red-btn:hover{
	background: url(../images/left-arrow__white.svg) #ff5e69;
	background-position: right 48px center;
	background-repeat: no-repeat;
	background-size: 17px;	
	box-shadow: 0 10px 15px rgba(255, 67, 80, 0.4);
}
.bred-btn:active{
	background: url(../images/left-arrow__white.svg) #ff717b;
	background-position: right 48px center;
	background-repeat: no-repeat;
	background-size: 17px;		
	box-shadow: 0 5px 10px rgba(255, 67, 80, 0.4);
}
label.error{
	display: none !important;
}
.b-checkbox{
    display: block;
    margin: 27px 0 0 0;
}
.b-checkbox input[type="checkbox"]{
    display: none;
}
.b-checkbox input[type="checkbox"] + label span{
	display: block;
	width: 24px;
	height: 24px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 20px 0 0;
}
.b-checkbox input[type="checkbox"] + label{
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-checkbox input[type="checkbox"]:checked + label span{
	display: block;
	width: 24px;
	height: 24px;
	border: 1px solid #e0e0e0;
	background: url(../images/check.png) center no-repeat transparent;
}
.b-checkbox input[type="checkbox"]:checked + label{
    color: #000000;
}
.b-checkbox input[type="checkbox"] + label i{
	color: darkgrey;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
    font-style: normal;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 54px;
	border: 1px solid #d6dfcc;    
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: #ffffff url(../images/select-arrow.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;        
}
.b-input-text{
	outline: none;  
}
textarea{
	height:80px;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{
	background: #f9f9f9;
	padding: 100px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fancybox-container{
	z-index: 999999;
}
section{
	position: relative;
}
.b-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 80px;
	height: 100%;
}
.b-nav__wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.b-section-number{
	color: darkgrey;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	margin: 20px 0;
}
.b-nav__arrow{
	width: 60px;
	height: 60px;
	border-radius: 100%;
}
.btn-prev{
	background: url(../images/btn-prev.png) center no-repeat;
}
.btn-prev:hover{
	background: #ffffff url(../images/btn-prev.png) center no-repeat;
	box-shadow: 0 5px 20px rgba(51, 51, 51, 0.1);
}
.btn-next{
	background: url(../images/btn-next.png) center no-repeat;
}
.btn-next:hover{
	background: #ffffff url(../images/btn-next.png) center no-repeat;
	box-shadow: 0 5px 20px rgba(51, 51, 51, 0.1);
}


.b-nav.white .btn-prev{
	background: url(../images/btn-prevw.png) center no-repeat;
}
.b-nav.white .b-section-number{
	color: #ffffff;
}
.b-nav.white .btn-prev:hover{
	background: #ffffff url(../images/btn-prev.png) center no-repeat;
	box-shadow: 0 5px 20px rgba(51, 51, 51, 0.1);
}
.b-nav.white .btn-next{
	background: url(../images/btn-nextw.png) center no-repeat;
}
.b-nav.white .btn-next:hover{
	background: #ffffff url(../images/btn-next.png) center no-repeat;
	box-shadow: 0 5px 20px rgba(51, 51, 51, 0.1);
}

.b-section-img{
	position: absolute;
	top: 60px;
	right: 50px;
	width: 115px;
}
/* End Total css ====*/

/* -------------- page index -------------- */
.b-header{
	background: #f9f9f9;
	box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
	padding: 25px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.3s;
}
.b-header.active{
	position: fixed;
	padding: 14px 0;
	transition: 0.3s;
	z-index: 1000;
}
.b-header > .container > .row > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-logo img{
	width: 41px;
	margin: 0 18px 0 0;
}
.b-logo__wrap{

}
.b-logo__wrap b{
	display: block;
	color: #219653;
	font-size: 21px;
	line-height: 23px;
	font-weight: 700;
	margin: 0 0 3px 0;	
}
.b-logo__wrap span{
	display: block;
	color: #646464;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}
.b-header-right{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-phone{
	color: #646464;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}
.btn-callback{
	width: 200px;
	height: 50px;
	background: url(../images/phone-call-button.svg) #81d321;
	background-position: right 20px center;
	background-repeat: no-repeat;
	background-size: 18px;
	border-radius: 20px;
	box-shadow: 0 10px 15px rgba(129, 211, 33, 0.4);
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	text-align: left;
	padding: 0 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0 30px;
}
.btn-callback:hover{
	box-shadow: 0 10px 15px rgba(129, 211, 33, 0.4);
	background: url(../images/phone-call-button.svg) #70c525;
	background-position: right 20px center;
	background-repeat: no-repeat;	
	background-size: 18px;
}
.btn-callback:active{
	box-shadow: 0 5px 10px rgba(129, 211, 33, 0.4);
	background: url(../images/phone-call-button.svg) #52b527;
	background-position: right 20px center;
	background-repeat: no-repeat;
	background-size: 18px;
}
.b-mobile{
	display: block;
}
.menu-icon{
    position: relative;
    z-index: 5;
    cursor: pointer;
	transition: 0.3s;
	top: 0;
}
.menu-icon.active{
	transition: 0.3s;
	opacity: 0;
}
.menu-icon__wrapper{
	position: relative;
	width: 30px;
	height: 18px;
}
.menu-icon.active b{
	transition: 0.5s;
}
.menu-icon .b-menu__line {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #333333;
    -webkit-transition: background-color 0.35s, -webkit-transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: background-color 0.35s, transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    border-radius: 120px;
}
.menu-icon .b-menu__line_1 {
    top: 0;
}
.menu-icon .b-menu__line_2 {
    top: 8px;
}
.menu-icon .b-menu__line_3 {
    top: 15px;
    width: 60%;
}
.menu-icon.active .b-menu__line {
    background: #333333;
}
.menu-icon.active .b-menu__line_1 {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    top: 0px;
}
.menu-icon.active .b-menu__line_2 {
    opacity: 0;
}
.menu-icon.active .b-menu__line_3 {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    top: 16px;
    width: 100%;
}
/* -------------- main -------------- */
.b-main{
	background: url(../images/main-bg.png) no-repeat;
	background-position: top -86px right;	
	padding: 85px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-content{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-main-left{

}
.b-main-title{
	font-size: 48px;
	line-height: 58px;
	font-weight: 900;
	color: #333;
	margin: 0;
	text-transform: none;
}
.b-main-title span{
	color: #219653;
}

.b-main-left__bottom{
	margin: 60px 0 0 0;
}
.b-main-text{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 15px 0;
}
.b-main-text p{
	color: #333;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	margin: 0 15px 0 0;
}
.b-main-text span{
	display: block;
	color: #333;
	font-weight: 400;
	font-size: 60px;
	line-height: 65px;
}
.b-main-text span i{
	font-size: 36px;
	line-height: 38px;
	font-style: normal;
}
.b-main-timer{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-main-timer__ico{
	width: 100px;
	height: 97px;
	background: url(../images/stopwatch.svg) center no-repeat #ff4350;
	background-size: 57px;
}
.b-timer-wrap{
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 195px;
}
.b-timer__item{
	color: #ffffff;
	font-size: 60px;
	font-weight: 300;
	line-height: 65px;
}
.b-main-right{
	width: 360px;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 0 10px 50px rgba(51, 51, 51, 0.3);
	padding: 50px 50px 53px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-right__top{
	text-align: center;
	margin: 0 0 20px 0;
}
.b-main-right__top b{
	display: block;
	color: #333;
	font-size: 21px;
	line-height: 24px;
	font-weight: 700;	
	margin: 0 0 23px 0;
}
.b-main-right__top p{
	color: #656565;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}
.b-main-form{

}
/* -------------- b-info -------------- */
.b-info{
	padding: 0 0 100px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-title{
	text-align: center;
	margin: 0 0 55px 0;
}
.b-title-number{
	width: 40px;
	height: 45px;
	background: url(../images/title-ico.png) no-repeat;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
}
.b-title-item{
	color: #333;
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	text-transform: none;
	margin: 0;	
}
.b-info-content{

}
.b-info-content > .row{
	justify-content: center;
}
.b-info-item{
	text-align: center;
	margin: 0 0 60px 0;
}
.b-info-item__img{
	padding: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 180px;
	height: 180px;
	border: 2px solid #ff4350;
	border-radius: 100%;
	position: relative;
	margin: 0 auto 30px;
}
.b-info-item__img:before{
	position: absolute;
	top: 88px;
	left: 0;
	content: "";
	width: 100%;
	height: 2px;
	background: #ff4350;
	transform: rotate(45deg);
}
.b-info-item__img__wrap{
	width: 100%;
	height: 100%;
	background-color: #333;
	background-image: -webkit-linear-gradient(bottom left, #219653 0%, #49c124 100%);
	background-image: -o-linear-gradient(bottom left, #219653 0%, #49c124 100%);
	background-image: linear-gradient(to top right, #219653 0%, #49c124 100%);
	box-shadow: 0 20px 30px rgba(33, 150, 83, 0.2);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.3s;
}
.b-info-item__img__wrap img{

}
.b-info-item span{
	display: block;
	color: #333;
	font-size: 24px;
	line-height: 26px;
	font-weight: 400;
}
.b-info-item__img:hover .b-info-item__img__wrap{
	background-color: #333;
	background-image: -webkit-linear-gradient(bottom left, #ff4350 0%, #ff717b 100%);
	background-image: -o-linear-gradient(bottom left, #ff4350 0%, #ff717b 100%);
	background-image: linear-gradient(to top right, #ff4350 0%, #ff717b 100%);
	box-shadow: 0 20px 30px rgba(255, 67, 80, 0.2);
	transition: 0.3s;
}
.btn-esc{
	width: 240px;
	height: 60px;
	margin: 0 auto 0;
	display: block;
	padding: 0 15px 0 0;
}
/* -------------- b-advantages -------------- */
.b-advantages{
	background: url(../images/b-advantages-bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 80px 0 100px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-advantages .b-title{
	margin: 0 0 65px 0;
}
.b-advantages .b-title-item{
	color: #ffffff;
}
.b-advantages-content{

}
.b-advantages-content > .row > div{
	margin-top: 60px;
	margin-bottom: 60px;
}
.b-advantages-item{
	background: #2e9f5e;
	box-shadow: 0 10px 50px rgba(51, 51, 51, 0.2);
	padding: 95px 0 25px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	height: 100%;
}
.b-advantages-item__img__wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -65px;	
	width: 100%;
}
.b-advantages-item__img{
	width: 130px;
	height: 130px;
	background-color: #81d321;
	background-image: -webkit-linear-gradient(bottom left, #81d321 0%, #a1e254 100%);
	background-image: -o-linear-gradient(bottom left, #81d321 0%, #a1e254 100%);
	background-image: linear-gradient(to top right, #81d321 0%, #a1e254 100%);
	border-radius: 100%;
	box-shadow: 0 20px 30px rgba(129, 211, 33, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}
.b-advantages-item__img img{
	width: 80px;
}
.b-advantages-item__content{
	text-align: center;
}
.b-advantages-item__content b{
	display: block;
	color: #ffffff;
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	margin: 0 0 27px 0;
	transition: 0.3s;
}
.b-advantages-item__content p{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
	transition: 0.3s;
}
.b-advantages-item:hover{
	transition: 0.3s;
	background: #f9f9f9;
	box-shadow: 0 10px 50px rgba(51, 51, 51, 0.2);	
}
.b-advantages-item:hover .b-advantages-item__content p , .b-advantages-item:hover .b-advantages-item__content b{
	color: #000000;
	transition: 0.3s;
}
.btn-spec{
	width: 320px;
	height: 60px;
	background: url(../images/left-arrow__black.svg) no-repeat #ffffff;
	background-position: right 40px center;
	background-size: 19px;
	border-radius: 20px;
	box-shadow: 0 10px 15px rgba(51, 51, 51, 0.2);
	color: #333;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	padding: 0 25px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-transform: uppercase;
	display: block;
	margin: 0 auto 0;
}
.btn-spec:hover{
	background: url(../images/left-arrow__black.svg) no-repeat #ebebeb;
	background-position: right 40px center;
	background-size: 19px;
	box-shadow: 0 10px 15px rgba(51, 51, 51, 0.2);
}
.btn-spec:active{
	background: url(../images/left-arrow__black.svg) no-repeat #dfdfdf;
	background-position: right 40px center;
	background-size: 19px;
	box-shadow: 0 5px 10px rgba(51, 51, 51, 0.2);
}
/* -------------- b-services -------------- */
.b-services{
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #ffffff;
}
.b-services .b-nav{
	padding: 150px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-services-content{

}
.b-services-item{

}
.b-services-item__img{
	background: #c5ced9;
	border-radius: 20px 0px;
	overflow: hidden;
	box-shadow: 0 10px 15px rgba(51, 51, 51, 0.1);
	margin: 0 0 25px 0;
}
.b-services-item__img img{
	width: 100%;
}
.b-services-item span{
	color: #646464;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}
/* -------------- b-wrap -------------- */
.b-wrap{
	padding: 85px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../images/b-wrap-bg.png) right top no-repeat;
}
.b-comfort{

}
.b-comfort-top{
	margin: 0 0 50px 0;
}
.b-title-text{
	color: #333;
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	text-transform: none;
	margin: 0;
}
.b-comfort-content{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-comfort-item{

}
.b-comfort-item__img{
	width: 84px;
	margin: 0 0 24px 0;
}
.b-comfort-item p{
	color: #646464;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
}
.b-wrap-right{
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 0 10px 50px rgba(51, 51, 51, 0.1);
	padding: 50px 30px 50px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 0 20px;
}
.b-form{

}
.b-form-top{
	text-align: center;
	margin: 0 0 28px 0;
}
.b-form-top span{
	color: #333;
	font-size: 21px;
	line-height: 24px;
	font-weight: 700;	
}
.b-form-row{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 40px 0;
}
.b-form-row:last-child{
	margin: 0;
}
.b-form-row .b-input-text{
	margin: 0 30px 0 0;
}
.b-form-row .b-input-text:last-child{
	margin: 0;
}
.b-form-row .b-input-btn{
	margin: 0 30px 0 0;
}
.b-form-row .b-checkbox{
	margin: 0;
}
/* -------------- b-desc -------------- */
.b-desc{
	background: #ffffff;
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-desc-item{

}
.b-desc-item__number{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 20px 0;
}
.b-desc-item__number span{
	display: block;
	margin: 0 9px 0 0;
	color: darkgrey;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;	
}
.b-desc-item__arrow{
	background: url(../images/b-desc-item____arrow.png) no-repeat;
	width: 19px;
	height: 12px;
}
.b-desc-item__img{
	margin: 0 0 35px 0;
}
.b-desc-item__text{

}
.b-desc-item__text b{
	display: block;
	color: #333;
	font-size: 21px;
	line-height: 25px;
	font-weight: 700;	
	margin: 0 0 13px 0;
}
.b-desc-item__text p{
	color: #646464;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	margin: 0;
}
/* -------------- b-foto -------------- */
.b-foto{
	background: #333;
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-foto .b-title-item{
	color: #ffffff;
}
.b-foto-slider__item{

}
.b-foto-slider__item__col{
	display: flex !important;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-foto-slider__item{
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-foto-slider__item img{
	margin: 0 auto 0;
}
.b-foto-slider__item p{
	color: darkgrey;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
	opacity: 0;
	visibility: hidden;	
}
.b-foto-slider__item__img{
	margin: 0 0 25px 0;
	position: relative;
}
.b-foto-slider__item__img{
	opacity: 0.3;
	transition: 0.3s;
}
.b-foto-slider__item__col.slick-current p{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}
.b-foto-slider__item__col.slick-center .b-foto-slider__item__img{
	opacity: 1;
	transition: 0.3s;
}

.b-foto .slick-arrow{
	width: 30px;
	height: 20px;
	text-indent: -999999px;
	position: absolute;
	top: 47%;
	z-index: 100;
}
.b-foto .slick-prev{
	background: url(../images/slick-prev.png) no-repeat;
	left: 7%;
}
.b-foto .slick-next{
	background: url(../images/slick-next.png) no-repeat;
	right: 7%;
}
/* -------------- b-faq -------------- */
.b-faq{
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-faq-content{
	padding: 0 212px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-faq-item{
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 0 10px 30px rgba(51, 51, 51, 0.1);
	margin: 0 0 20px 0;
	transition: 0.3s;
}
.b-faq-item:last-child{
	margin: 0;
}
.b-faq-item__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 30px 24px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.b-faq-item__top span{
	color: #333;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.b-faq-item__arrow{
	background: url(../images/b-faq-item__arrow3.png) no-repeat;	
	width: 12px;
	height: 19px;		
}
.b-faq-item__top.collapsed .b-faq-item__arrow{
	background: url(../images/b-faq-item__arrow.png) no-repeat;
	
}
.b-faq-item__content{
	padding: 0 30px 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-faq-item__content p{
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.b-faq-item:hover{
	box-shadow: 0 10px 15px rgba(51, 51, 51, 0.15);
	transition: 0.3s;
}
.b-faq-item:hover .b-faq-item__top.collapsed .b-faq-item__arrow{
	background: url(../images/b-faq-item__arrow2.png) no-repeat;
}
.b-faq-item:hover .b-faq-item__top.collapsed span{
	color: #219653;
}
/* -------------- b-block -------------- */
.b-block{
	background: url(../images/b-block-bg.jpg) center top no-repeat;
	background-size: cover;
	padding: 100px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-block > .container > .row > div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.b-block .b-form-top span{
	color: #ffffff;
}
.b-block .b-input-text{
	border-color: #ffffff;
	color: #ffffff;
}
.b-block .b-input-text::-webkit-input-placeholder{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;	
}
.b-block .b-input-text:-moz-placeholder{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;	
}
.b-block .b-input-phone{
	background: url(../images/smartphone2.svg) no-repeat;
	background-position: right 10px center;
	background-size: 16px;
}
.b-block .b-input-name{
	background: url(../images/user2.svg) no-repeat;
	background-position: right 10px center;
	background-size: 16px;
}
.b-block .b-checkbox input[type="checkbox"] + label i{
	color: #ffffff;
}
.b-block .b-checkbox input[type="checkbox"]:checked + label span{
	border-color: #ffffff;
	background: url(../images/check2.png) center no-repeat transparent;
}
/* -------------- b-reviews -------------- */
.b-reviews{
	padding: 80px 0 100px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #ffffff;
}
.b-reviews-content{

}
.b-reviews-item{
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 0 10px 25px rgba(51, 51, 51, 0.1);
	padding: 80px 50px 30px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.b-reviews-item__top{

}
.b-reviews-item__top b{
	display: block;
	font-family: "ProximaNova";
	color: #219653;
	font-size: 80px;
	line-height: 82px;
	font-weight: 700;
	margin: 0 0 25px 0;
	position: absolute;
	top: 20px;
}
.b-reviews-item__top p{
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}
.b-reviews-item__bottom{
	border-top: 1px solid #e0e0e0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-reviews-item__bottom b{
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	font-weight: 700;

}
.b-reviews-item__bottom span{
	font-size: 16px;
	line-height: 24px;
	color: #646464;
	font-weight: 400;
}
/* -------------- b-certificate -------------- */
.b-certificates{
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../images/b-certificate-bg.jpg) center top no-repeat;
	background-size: cover;
}
.b-certificate .b-title-item{
	color: #ffffff;
}

.b-certificates-item{

}
.b-certificates-item__img{
	display: block;
	margin: 0 0 30px 0;
	background-color: #219653;
	background-image: -webkit-linear-gradient(bottom, #219653 0%, #49c124 100%);
	background-image: -o-linear-gradient(bottom, #219653 0%, #49c124 100%);
	background-image: linear-gradient(to top, #219653 0%, #49c124 100%);
	box-shadow: 0 10px 25px rgba(33, 150, 83, 0.2);	
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-certificates-item__img img{
	margin: 0 auto 0;
	width: 100%;
}
.b-certificates-item span{
	text-align: center;
	display: block;
	color: #646464;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;	
}
/* -------------- b-map -------------- */
.b-map{
	position: relative;
	height: 500px;
}
#map{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.b-map-block{
	width: 320px;
	position: relative;
	z-index: 20;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 0 10px 50px rgba(51, 51, 51, 0.3);	
	padding: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 70px 0 0 0;
}
.b-map__logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 30px 0;
}
.b-map__logo img{
	width: 41px;
	margin: 0 20px 0 0;
}
.b-map__logo span{
	color: #219653;
	font-size: 21px;
	line-height: 23px;
	font-weight: 700;
}
.b-map-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 20px 0;
}
.b-map-item:last-child{
	margin: 0;
}
.b-map-item__ico{
	margin: 0 20px 0 0;
	width: 25px;
}
.b-map-item__ico img{
	margin: 0 auto 0;
}
.b-map-item p{
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}
/* -------------- b-footer -------------- */
.b-footer{
	background: #333;
	padding: 28px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-footer > .container > .row > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-social{

}
.b-social ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-social ul li{
	list-style: none;
	margin: 0 30px 0 0;
}
.b-social ul li:last-child{
	margin: 0;
}
.b-social ul li a{
	font-size: 22px;
	line-height: 24px;
	color: darkgrey;
}
.b-footer-links{

}
.b-footer-links ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-footer-links ul li{
	list-style: none;
	margin: 0 80px 0 0;
}
.b-footer-links ul li:last-child{
	margin: 0;
}
.b-footer-links ul li a{
	color: darkgrey;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: underline;
}
.b-copyright{
	color: darkgrey;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}
.btn-scroll{
	width: 60px;
	height: 60px;
	background-color: #81d321;
	background-image: -webkit-linear-gradient(bottom left, #81d321 0%, #a1e254 100%);
	background-image: -o-linear-gradient(bottom left, #81d321 0%, #a1e254 100%);
	background-image: linear-gradient(to top right, #81d321 0%, #a1e254 100%);
	box-shadow: 0 20px 30px rgba(129, 211, 33, 0.4);
	color: #404040;
	font-family: 'Circe';
	font-size: 36px;
	line-height: 38px;
	font-weight: 400;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	position: fixed;
	right: 28px;
	bottom: 80px;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.btn-scroll:hover{
	transition: 0.3s;
	box-shadow: 4px 0 25px 21px rgba(129, 211, 33, 0.4);
}
.btn-scroll.active{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
	z-index: 2500;
}
/* -------------- b-menu -------------- */
.b-menu{
	position: fixed;
	top: -500px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2800;
    background: rgba(249, 249, 249, 0.95);
    padding: 140px 0 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s; 
}
.b-menu.active{
	z-index: 3000;
	top: 0;
	opacity: 1;
	visibility: visible;
	transition: 0.3s;	
}
.b-menu::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}
.b-menu ul{
	padding: 0;
	margin:0;
	text-align: center;
}
.b-menu ul li{
	list-style: none;
}
.b-menu ul li a{
	font-size: 36px;
	font-weight: 900;
	line-height: 80px;
	color: #333;
	transition: 0.3s;
	text-decoration: none;
}
.b-menu ul li a span{
	color: #81d321;	
	padding: 0px 5px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-menu ul li a:hover{
	transition: 0.3s;
	color: #81d321;	
	text-decoration: none;
}
.menu-close__wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 40px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.menu-close__wrap > .container > .row > div{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu-close{
	width: 23px;
	height: 23px;
	background: url(../images/menu-close.png) no-repeat;
	display: block;
}